{% extends "./home.html" %}
{% block content %}

<div class="header">
    <div id="wod">original: <a href="{{ url }}" target="_blank">{{ url }}</a></div>
    <ul class="results">
        <li>
            <div class="val">{{ num_rx }}</div>
            <div class="desc">total rx</div>
        </li>
        <li>
            <div class="val">{{ num_male }}</div>
            <div class="desc">total males</div>
        </li>
        <li>
            <div class="val">{{ num_female }}</div>
            <div class="desc">total females</div>
        </li>
    </ul>
</div>

<div class="comments">

<div class="card title">
    <div class="card-padding">
        <div class="col-8">
        <li>comment</li>
        </div>

        <div class="col-2">
        <li class="stat">rx</li>
        </div>

        <div class="col-2">
        <li class="stat">gender</li>
        </div>
    </div>
</div>

{% for detail in details %}
    <div class="card collapsed" onclick="flex(this)">
        <div class="card-padding">
            <div class="col-8">
            <li>{{ detail.comment_text }}</li>
            </div>

            <div class="col-2">
            <li class="stat">{{ detail.scale }}</li>
            </div>

            <div class="col-2">
            <li class="stat">{{ detail.gender }}</li>
            </div>
        </div>
    </div>
{% endfor %}
</div> <!--comments-->

{% endblock content %}

