<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'main.css' %}">
<title>WOD Stats Home</title>

</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Fitjstats</a></li>
        </ul>
    </div>
    <div class="container">
        <div id="input" class="header">
            <form action="{% url 'search' %}">
                <label for="date">Date:</label>
                {% if post %}
                <input type="date" id="date" name="date" value="{{ post.created|date:"Y-m-d" }}">
                {% else %}
                <input type="date" id="date" name="date" >
                {% endif %}
                <button class="btn-med" type="submit" formmethod="GET">Submit</button>
            </form>
        </div>

    {% block content %}{% endblock content %}
    </div><!--container-->

</body>

<script type="text/javascript" src="{% static 'crawl.js' %}"></script>

</html>
